.modalCadastro {
    display: none;
    position: fixed;
    z-index: 1000; /* Aumente o z-index para garantir que o modal fique na frente */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    color: #f5f5f5;
}

.modal-categoria {
    background-color: #246da8;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; /* Define a largura máxima do modal */
    border-radius: 10px;
    z-index: 1001; /* Certifique-se de que o conteúdo do modal também tenha um z-index alto */
}

.closeCadastro {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeCadastro:hover,
.closeCadastro:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#descricaoCategoria {
    width: 100%; /* Define a largura do textarea */
    max-width: 100%; /* Garante que o textarea não exceda a largura do seu contêiner */
    min-width: 200px; /* Define a largura mínima do textarea */
    height: 100px; /* Altura padrão para o textarea */
    max-height: 200px; /* Define a altura máxima do textarea */
    min-height: 75px; /* Define a altura máxima do textarea */
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
    resize: vertical; /* Permite redimensionar apenas na direção vertical */
}

.modal-contentCadastro form .divsForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.modal-contentCadastro form label,
.modal-contentCadastro form input,
.modal-contentCadastro form textarea {
    width: 100%;
    margin-bottom: 5px;
}

#categoriaModalCadastro .modal-contentCadastro form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#addCategoriaBtn {
    background-color: #4CAF50; /* Cor de fundo */
    border: none; /* Sem borda */
    color: white; /* Cor do texto */
    padding: 2px 8px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Sem sublinhado */
    display: inline-block; /* Exibição inline */
    font-size: 16px; /* Tamanho da fonte */
    margin-left: 7px; /* Margem à esquerda */
    cursor: pointer; /* Cursor de ponteiro */
    border-radius: 4px; /* Bordas arredondadas */
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

#addCategoriaBtn:hover {
    background-color: #45a049; /* Cor de fundo ao passar o mouse */
}

#addCategoriaBtn:focus {
    outline: none; /* Remover outline ao focar */
    box-shadow: 0 0 3px 2px rgba(0, 140, 186, 0.5); /* Sombra ao focar */
}