body {
    background-color: #246da8;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between; /* Distribute items evenly */
    align-items: center;
    background-color: var(--primary-color);
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
     /* Add padding for better spacing */

}

.casa {
    height: 4em;
    width: 5em; /* Adjust width as needed */
}
.CasaA {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto; /* Adjust width as needed */
}
nav h2{
    color: var(--quinary-color);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.header-content ul {
    list-style: none; /* Remove default list markers */
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* Add space between links */
}

.header-content li a {
    text-decoration: none;
    color: white; /* Adjust link color as needed */
    font-weight: bold;
}

.botaoCadastro {
    color: white;
    border-radius: 15px;
    background-color: #28a745;
    height: 3em;
    width: 17em;
    margin-right: 5em;
    margin-left: 10%;
    font-weight: bold;
}

/*Botão de dentro do formulario de cadastro*/
.enviar {
    padding: 10px 20px;
    color: #246da8;
    background-color: white;
    border: 2px solid #246da8;
    border-radius: 10px;
    width: 50%;
    max-width: 200px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enviar:hover {
    background-color: #246da8;
    color: white;
    border-color: #246da8;
}
/*Botão de dentro do formulario de cadastro*/

/* Não sei
.container {
    margin-bottom: 20px;
}

.filters {
    margin-bottom: 10px;
}

.filters input[type="text"], .filters select {
    margin-right: 10px;
}
*/

table {
    width: 95%;
    height: auto;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
    margin-left: 2em;
}

td {
    text-align: start;
    word-wrap: break-word;
}

th,
td {
    max-width: 20rem;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

th {
    text-align: start;
}

thead {
    th {
        background-color: #55608f;
    }
}

tbody {
    tr {
        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }

    td {
        position: relative;

        &:hover {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: -9999px;
                bottom: -9999px;
                background-color: rgba(255, 255, 255, 0.2);
                z-index: -1;
            }
        }
    }
}

.button-pesquisar {
    width: 10%;
    height: 2em;
    border: 1px solid;
    background: #D9D9D9;
    text-align: center;
    color: black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
}

.button-pesquisar:hover {
    background-color: #ccc;
    color: #333;
}


.barra-pesquisa {
    width: 85%;
    border: 3px solid ;
    border-right: none;
    padding: 5px;
    height: 3em;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
    margin-top:10px;
    margin-left: 10px;
}

.componentes-menu {
    height: 4em;
    background-color: #55608f;
    width: 95%;
    flex-direction: row;
    display: flex;
    margin-left: 2em;
    border-radius: 15px 15px 0 0;
}

.filtro {
    margin: 1em 1em 1em 1em;
    width: auto;
    height: 2em;
    border-radius: 10px;
}
.visivel {
    display: flex;
    align-items: center;
    width: 35em;
    height: 30em;
    background-color: #246DA8;
    flex-direction: column;
    border-radius: 10px;
    color: white;
    margin: auto;
    justify-content: space-between;
    border-style: solid;
    border-color: black;
    backdrop-filter: opacity(20%);
    margin-top: 5%;
}


.divInputInterna {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.fundoEscuro{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    align-items: center;
    justify-content: center;
}



.botao-endereco {
    padding: 10px 20px;
    color: #ffffff;
    background-color: transparent;
    border: none; /* Remover a borda */
    border-radius: 0; /* Remover o arredondamento da borda */
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 100%; /* Fazer o botão ocupar todo o espaço da célula */
    height: 100%; /* Fazer o botão ocupar todo o espaço da célula */
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none; /* Remover o contorno ao focar o botão */
}

.botao-endereco:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #333;
}


#formulario-cadastro {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    background: #246da8;
    border-radius: 10px;
    padding: 1%;
    gap: 10px;

    label {
        color: #f5f5f5;
    }
}

#cadastroStartForm  {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
#cadastroEndForm  {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

}


/* Estilos para o modal personalizado */
.custom-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.custom-modal.show {
    display: block;
    opacity: 1;
}

.custom-modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 0;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.custom-modal-header {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.custom-modal-body {
    padding: 20px;
    color: #333; /* Cor da letra no corpo do modal */
}

.custom-modal-footer {
    background-color: #f1f1f1;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: right;
}
.divForn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
#cadastroStartForm input, #cadastroEndForm input{
    width: 100%;
    height: 2em;
    border-radius: 5px;
    border: none;

}
.divButtonProd{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 30%;
    padding: 3%;
}
#pais_endereco, #estado_endereco, #cidade_endereco{
    width: 100%;
    height: 2em;
    border-radius: 5px;
    border: none;

}