@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
:root{
    --primary-color: #0D436F;
    --secondary-color: #0d5b6f;
    --tertiary-color: #00a896;
    --quaternary-color: #02c39a;
    --quinary-color: #f0f3bd;
    --white: #d9d9d9;
    --Whiteblack: #313131;
  --buttonColor: #ffffff    ;
  --buttonColorHover: #dfdbcf;

}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);


}
.Button1:hover{
  background-color: var(--buttonColorHover);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);

}
.Button1 {
  background-color: var(--buttonColor);
  color: var(--Whiteblack);
  padding: 10px 20px;
  font-weight: bolder;
  width: 100%;
  font-size: 24px;
  border-radius: 14px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: 0.3s;
  border: none;
  cursor: pointer;
}
.Button2 {
  margin-top: 5%;
  width: 100%;
  font-weight: bolder;
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 14px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: 0.3s;
}

.Button2:hover {
  background-color: #c82333;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}
.Button3 {

  width: 100%;
  font-weight: bolder;
  background-color: #28a745; /* Green color for confirmation */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 14px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: 0.3s;
}

.Button3:hover {
  background-color: #218838; /* Darker green on hover */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}
.selectOption,
.selectOption * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
.selectOption {
  position: relative;
  background-color: #e6e6e6;
  border-radius: 10px;
  width: 90%;
  font-size: 1rem;
  height: 50px;
  margin-top: 20px;
}
.selectOption select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.selectOption select:active,
.selectOption select:focus {
  outline: none;
  box-shadow: none;
  width: 100%;
}
.selectOption:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.divInputText {
  width: 90%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0.5rem;
  gap: 0.5rem;
}
.InputText {
  background-color: #d9d9d9;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: #000;

  outline: none;
}
.divInputInterna {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.labelInputText {
  font-size: 1.1rem;
  color: #000;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: start;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}
.labelInputText2 {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: start;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}
.select-dropdown,
.select-dropdown * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
.select-dropdown {
  width: 100%;
  position: relative;
  background-color: #E6E6E6;
  border-radius: 4px;
}
.select-dropdown select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-dropdown select:active, .select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
