body {
  display: flex;
  align-items: center;
  justify-content: start;
  }
.contentHome{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 5%;

}
  
  .botoes-Home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border: 10px;
    gap: 20px;
  }

  a {
    display: flex;
    width: 30em;
    align-items: center;
    color:black;
    text-decoration: none;
  }
  

  
  .logo {
    width: 20%;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    gap: 10%;
  }
  
  .msg-bemvindo {
  
    color:white;
    font-size: bold;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    display: flex;
  
  }

  