body{
    background-color: var(--primary-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: start;
}

/*header*/
header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between; /* Distribute items evenly */
    align-items: center;
    background-color: var(--primary-color);
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    padding: 0 20px; /* Add padding for better spacing */

}

.casa {
    height: 70%;
    width: auto; /* Adjust width as needed */
}
.CasaA {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto; /* Adjust width as needed */
}
nav h2{
    color: var(--quinary-color);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.header-content ul {
    list-style: none; /* Remove default list markers */
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* Add space between links */
}

.header-content li a {
    text-decoration: none;
    color: white; /* Adjust link color as needed */
    font-weight: bold;
}
footer{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;


}
.Button1, .Button3{
    font-size: 18px;
}
.divButtonFooter{
    width: 20%;
}
.ContentBaixa{
    height: 80vh;
    width: 100vw;
    display: flex;

}
aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;


}


/* Form Styles */
form {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 90%;
    height: 90%;
    padding: 0 1rem;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

form h2{
    color: white;

}
.ContentFormAside{
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    gap: 5rem;
    flex-direction: column;

}

/* Label Styles */
.lateral-label{
    width: 100%;
    height: auto;
    flex-direction: column;
    display: flex;
    align-items: start;
}
.lateral-label label {

    font-weight: bold;
    color: white;

}

/* Input Styles */
.lateral-label input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}
main{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 15px;
}

    td {
        text-align: start;
        word-wrap: break-word;
    }

    th,
    td {
        max-width: 20rem;
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
    }

    th {
        text-align: start;
    }

    thead {
        width: 100%;
        height: 10%;
        th {
            background-color: #55608f;
        }
    }

    tbody {
        width: 100%;
        height: 90%;
    }

table {
    background-color: var(--secondary-color);
    width: 90%;
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 15px;
}
