body {
    background-color: #246da8;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between; /* Distribute items evenly */
    align-items: center;
    background-color: var(--primary-color);
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    /* Add padding for better spacing */

}

.casa {
    height: 4em;
    width: 5em; /* Adjust width as needed */
}
.CasaA {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto; /* Adjust width as needed */
}
nav h2{
    color: var(--quinary-color);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.header-content ul {
    list-style: none; /* Remove default list markers */
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* Add space between links */
}

.header-content li a {
    text-decoration: none;
    color: white; /* Adjust link color as needed */
    font-weight: bold;
}

.botaoCadastro {
    color: white;
    border-radius: 15px;
    background-color: #28a745;
    height: 3em;
    width: 17em;
    margin-right: 5em;
    margin-left: 10%;
    font-weight: bold;
}

.form {
    display: none;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
}

.visivel {
    display: flex;
    align-items: center;
    width: 35em;
    height: 30em;
    background-color: #246DA8;
    flex-direction: column;
    border-radius: 10px;
    color: white;
    margin: auto;
    justify-content: space-between;
    border-style: solid;
    border-color: black;
    backdrop-filter: opacity(20%);
    margin-top: 5%;
}

.enviar {
    margin: 3%;
    color: #246da8;
    background-color: white;
    border-radius: 10px;
    width: 50%;
    height: 6%;
}

.InputText {
    background-color: #d9d9d9;
    width: 60%;
    height: 30%;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    color: #000;
    outline: none;
}

.divInputInterna {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#categoria_input {
    display: flex;
    gap: .5em;
}



.filters {
    margin-bottom: 10px;
}

.filters input[type="text"], .filters select {
    margin-right: 10px;
}


table {
    width: 95%;
    height: auto;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
    margin-left: 2em;
}

td {
    text-align: start;
    word-wrap: break-word;
}

th,
td {
    max-width: 20rem;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

th {
    text-align: start;
}

thead {
    th {
        background-color: #55608f;
    }
}

tbody {
    tr {
        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }

    td {
        position: relative;

        &:hover {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: -9999px;
                bottom: -9999px;
                background-color: rgba(255, 255, 255, 0.2);
                z-index: -1;
            }
        }
    }
}

.button-pesquisar {
    width: 10%;
    height: 2em;
    border: 1px solid;
    background: #D9D9D9;
    text-align: center;
    color: black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    margin-top: 5px;
}

.barra-pesquisa {
    width: 85%;
    border: 3px solid ;
    border-right: none;
    padding: 5px;
    height: 2em;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
    margin-top:5px;
    margin-left: 10px;
}

.componentes-menu {
    border-radius: 15px 15px 0 0;
    background-color: #55608f;
    width: 95%;
    flex-direction: row;
    display: flex;
    margin-left: 2em;
}

.filtro {
    margin: 1em 1em 1em 1em;
    width: auto;
    height: 2em;
    border-radius: 10px;
}
.visivel {
    display: flex;
    align-items: center;
    width: 35em;
    height: 30em;
    background-color: #246DA8;
    flex-direction: column;
    border-radius: 10px;
    color: white;
    margin: auto;
    justify-content: space-between;
    border-style: solid;
    border-color: black;
    backdrop-filter: opacity(20%);
    margin-top: 5%;
}

.enviar {
    margin: 3%;
    color: #246da8;
    background-color: white;
    border-radius: 10px;
    width: 50%;
    height: 6%;
}

.InputText {
    background-color: #d9d9d9;
    width: 60%;
    height: 30%;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    color: #000;
    outline: none;
}

.divInputInterna {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.fundoEscuroProd{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    align-items: center;
    justify-content: center;
}
.cadastroFormProd{
    width: 25vw;
    padding: 40px 60px;
    /*display: none;*/
    position: absolute;
    margin: auto;
    top: 5%;
    right: 50%;
    transform: translate(50%, 0);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #246DA8;
    border-radius: 10px;
    color: white;
    z-index: 2;
    gap: 15px;
}
.divsForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2px;
    width: 100%;
}
.InputFormProd{
    padding: 5px 10px ;
    width: 100%;
}
.divButtonProd{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 30%;
    padding: 3%;
}
#id_fornecedor, #id_categoria{
    width: 100%;
    padding: 1%;
}
.divButtonProdModal{
    display: flex;
    width: 50%;
    margin: 5% 0;
    align-items: center;
    justify-content: center;
}
.divButtonProdModalPai{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}