body {
  width: 100vw;
  height: 100vh;
  background-color: #0d436f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
h1 {
  color: white;
  font-weight: 900;
}
.form {
  display: flex;
  width: 80%;
  height: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #246da8;
  border-radius: 1rem;
  gap: 1rem;
}
.selectOption {
  display: flex;
  align-items: center;
  justify-content: center;
}
